* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  display: grid;
  place-items: center;
  color: #333333;
}

img {
  width: 100%;
}

/* HEADER */
.main_header {
  display: grid;
  place-items: center;
  width: 100%;
  color: white;
  background-color: #0084ff;
  min-height: 10vh;
}

.header_wrapper {
  display: grid;
  width: 90%;
  max-width: 1440px;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.header_logo {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  justify-self: start;
}

.header_icon {
  width: 25px;
  height: 25px;
  justify-self: end;
}

.main_main {
  width: 100%;
  min-height: 80vh;
  display: grid;
  place-items: center;
}

/* SERVICES */

.section_services {
  margin-top: 24px;
  width: 95%;
  max-width: 1440px;
  display: grid;
  place-items: center;
  gap: 16px;
  margin-bottom: 64px;
  grid-template-columns: 1fr;
}

.blue_bg {
  background-color: #b8ddff;
}

.red_bg {
  background-color: #ffd2d2;
}

.green_bg {
  background-color: #caf0db;
}

.yellow_bg {
  background-color: #ffe7c4;
}

.purple_bg {
  background-color: #d5d4f5;
}

.demo_title {
  color: #0084ff;
}

.demo_paragraph {
  color: #014c93;
}

.apple_logo {
  width: 20px;
  height: 20px;
}

.services_phone_img {
  width: 200px;
}

.appstore_btn {
  width: 180px;
  display: grid;
  background-color: #0084ff;
  padding: 10px 20px;
  border-radius: 30px;
  gap: 10px;
}

.appstore_btn > a {
  text-decoration: none;
  color: white;
}

.appstore_btn_content {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 4fr;
}

.services_small {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 30px;
}

.services_small_content {
  width: 80%;
  height: 100%;
  display: grid;
  place-items: center;
  gap: 16px;
  padding: 20px 0px;
  text-align: center;
}

.services_img {
  width: 100px;
}

.code_title {
  color: #45a26f;
}

.code_paragraph {
  color: #347f56;
}

.web_title {
  color: #ff8a8a;
}

.web_paragraph {
  color: #c16b6b;
}

.development_title {
  color: #ffc166;
}

.development_paragraph {
  color: #aa8651;
}

.branding_title {
  color: #9693e6;
}

.branding_paragraph {
  color: #6663b7;
}

/* METHODS */

.section_method {
  width: 100%;
  background-color: #9693e6;
  display: grid;
  place-items: center;
  gap: 32px;
  padding: 32px 0px;
}

.method_planning {
  width: 90%;
  display: grid;
  place-items: center;
  gap: 32px;
}

.planning_img {
  width: 100%;
  max-width: 800px;
}

.planning_text {
  display: grid;
  gap: 16px;
  color: white;
}

.planning_title {
  font-size: 2rem;
}

.planning_paragraph {
  font-size: 0.7rem;
  line-height: 18px;
}

.method_dev {
  width: 95%;
  background-color: white;
  padding: 20px 0;
  border-radius: 30px;
  display: grid;
  place-items: center;
}

.dev_paragraph {
  font-style: italic;
  text-align: center;
}

.dev_wrapper {
  width: 70%;
  display: grid;
  place-items: center;
  gap: 16px;
}

.dev_img {
  width: 100%;
}

.arrow_container {
  background-color: #9693e6;
  display: grid;
  border-radius: 100%;
}

.arrow_img {
  width: 30px;
  height: 30px;
}

/* TESTIMONIALS */

.section_testimonials {
  margin-top: 64px;
  width: 80%;
  max-width: 700px;
  display: grid;
  place-items: center;
  text-align: center;
  gap: 24px;
  margin-bottom: 64px;
}

.testimonials_title {
  letter-spacing: 2px;
  font-weight: 200;
}

.testimonials_moto {
  font-size: 1.8rem;
  color: #9693e6;
}

.testimonials_quote {
  display: grid;
  place-items: center;
  gap: 16px;
  padding: 20px 20px;
  border-radius: 30px;
  grid-template-columns: 1fr;
}

.testimonials_img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.quote {
  width: 18px;
  height: 18px;
}

.quote_paragraph {
  width: 88%;
}

.quote_paragraph > p {
  display: inline;
}

.client_name {
  padding-top: 16px;
  font-size: 1.1rem;
  letter-spacing: 1.2px;
}

/* BENEFITS */

.section_benefits {
  padding: 32px 0px;
  background-color: #6663b7;
  width: 100%;
  display: grid;
  place-items: center;
  gap: 16px;
}

.section_benefits > h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.benefits_cards_container {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 16px;
  grid-template-columns: 1fr;
  max-width: 1050px;
}

.benefits_card {
  display: grid;
  place-items: center;
  padding: 20px 0px;
  width: 95%;
  height: 95%;
  background-color: white;
  border-radius: 30px;
  gap: 16px;
}

.benefits_card > * {
  width: 80%;
}

.benefits_card > h3:first-child {
  font-size: 2rem;
}

.benefits_card > h3 {
  color: #9693e6;
}

.benefits_card > a {
  text-decoration: none;
  background-color: #9693e6;
  color: white;
  width: 100px;
  display: grid;
  place-items: center;
  padding: 10px 20px;
  border-radius: 30px;
  justify-self: start;
  margin-left: 25px;
  margin-bottom: 20px;
}

/* ABOUT */

.section_about {
  margin-top: 64px;
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 1440px;
  margin-bottom: 64px;
  gap: 16px;
  grid-template-columns: 1fr;
}

.about_bio {
  display: grid;
  place-items: center;
  gap: 16px;
  line-height: 26px;
}

.about_bio > * {
  width: 90%;
}

.about_bio > h1 {
  font-size: 1.8rem;
  color: #6663b7;
  letter-spacing: 1.6px;
}

.about_graphics {
  display: grid;
  position: relative;
  gap: 16px;
  margin: 0px 15px;
}

.about_graphics > img:first-child {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.u-svg-content {
  fill: #6663b7;
  position: absolute;
  top: 30px;
  left: 150px;
  width: 50px;
}

.about_graphics > h3 {
  color: #9693e6;
}

.linkedin_btn {
  background-color: #6663b7;
  width: 220px;
  padding: 10px 20px;
  border-radius: 10px;
}

.linkedin_btn_content {
  display: grid;
  grid-template-columns: 1fr 10fr;
  place-items: center;
  text-decoration: none;
  color: white;
}

.linkedin_logo {
  width: 20px;
  height: 20px;
}

/* FOOTER */

.footer_cta {
  min-height: 10vh;
  display: grid;
  width: 100%;
  place-items: center;
  gap: 16px;
  background-color: #9693e6;
  padding: 64px 0px;
  color: white;
}

.footer_cta > * {
  text-align: center;
  width: 90%;
  max-width: 600px;
}

.footer_nav {
  display: grid;
  width: 300px;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 12px;
}

.cta_btn {
  background-color: white;
  width: 180px;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  color: #9693e6;
}

.footer_nav > * {
  color: white;
}

.footer_cta > h4 {
  color: rgb(233, 232, 232);
  letter-spacing: 2px;
}

.footer_cta > h3 {
  font-size: 1.6rem;
  font-weight: 200;
}

.footer_cta > h2 {
  font-size: 3rem;
  color: #ffc166;
  font-weight: 700;
}

/* IPAD */

@media only screen and (min-width: 720px) {
  .section_services {
    grid-template-columns: repeat(3, 1fr);
  }

  .ser--1 {
    grid-column: 1 / 3;
  }

  .testimonials_quote {
    grid-template-columns: 1fr 2fr;
  }

  .section_testimonials {
    text-align: left;
  }

  .benefits_cards_container {
    grid-template-columns: 1fr 1fr;
  }

  .section_about {
    grid-template-columns: 2fr 1fr;
  }
}

/* DESKTOP */

@media only screen and (min-width: 1050px) {
  html {
    font-size: 18px;
  }

  .demo--cell {
    justify-items: left;
    text-align: left;
  }

  .ser--1 {
    grid-template-columns: 2fr 1fr;
  }

  .services_phone_img {
    width: 280px;
  }

  .section_method {
    grid-template-columns: 1fr 1fr;
  }

  .method_planning {
    justify-self: end;
    width: 50%;
    max-width: 400px;
  }

  .method_dev {
    margin-top: 150px;
    width: 50%;
    max-width: 400px;
    justify-self: start;
  }

  .benefits_cards_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
