* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  display: grid;
  place-items: center;
  color: #333333;
}

img {
  width: 100%;
}

/* HEADER */
.main_header {
  display: grid;
  place-items: center;
  width: 100%;
  color: white;
  background-color: #0084ff;
  min-height: 10vh;
}

.header_wrapper {
  display: grid;
  width: 90%;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.header_logo {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  justify-self: start;
}

.header_icon {
  width: 25px;
  height: 25px;
  justify-self: end;
}

/* SERVICES */

.main_main {
  width: 100%;
  min-height: 80vh;
  display: grid;
  place-items: center;
}

.section_services {
  margin-top: 64px;
  width: 100%;
  display: grid;
  place-items: center;
  gap: 32px;
  margin-bottom: 64px;
}

.blue_bg {
  background-color: #b8ddff;
}

.red_bg {
  background-color: #ffd2d2;
}

.green_bg {
  background-color: #caf0db;
}

.yellow_bg {
  background-color: #ffe7c4;
}

.purple_bg {
  background-color: #d5d4f5;
}

.demo_title {
  color: #0084ff;
}

.demo_paragraph {
  color: #014c93;
}

.apple_logo {
  width: 20px;
  height: 20px;
}

.services_phone_img {
  width: 200px;
}

.appstore_btn {
  width: 180px;
  display: grid;
  background-color: #0084ff;
  padding: 10px 20px;
  border-radius: 30px;
  gap: 10px;
}

.appstore_btn > a {
  text-decoration: none;
  color: white;
}

.appstore_btn_content {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 4fr;
}

.services_small {
  width: 90%;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 30px;
}

.services_small_content {
  width: 70%;
  height: 100%;
  display: grid;
  place-items: center;
  gap: 16px;
  text-align: center;
  padding: 20px 0px;
}

.services_img {
  width: 100px;
}

.code_title {
  color: #45a26f;
}

.code_paragraph {
  color: #347f56;
}

.web_title {
  color: #ff8a8a;
}

.web_paragraph {
  color: #c16b6b;
}

.development_title {
  color: #ffc166;
}

.development_paragraph {
  color: #aa8651;
}

.branding_title {
  color: #9693e6;
}

.branding_paragraph {
  color: #6663b7;
}

/* METHODS */

.section_method {
  width: 100%;
  background-color: #9693e6;
  display: grid;
  place-items: center;
  gap: 32px;
  padding: 32px 0px;
}

.method_planning {
  width: 90%;
  display: grid;
  place-items: center;
  gap: 32px;
}

.planning_img {
  width: 100%;
}

.planning_text {
  display: grid;
  gap: 16px;
  color: white;
}

.planning_title {
  font-size: 2rem;
}

.planning_paragraph {
  font-size: 0.7rem;
  line-height: 18px;
}

.method_dev {
  width: 95%;
  background-color: white;
  padding: 20px 0;
  border-radius: 30px;
  display: grid;
  place-items: center;
}

.dev_paragraph {
  font-style: italic;
  text-align: center;
}

.dev_wrapper {
  width: 70%;
  display: grid;
  place-items: center;
  gap: 16px;
}

.dev_img {
  width: 100%;
}

.arrow_container {
  background-color: #9693e6;
  display: grid;
  border-radius: 100%;
}

.arrow_img {
  width: 30px;
  height: 30px;
}

/* TESTIMONIALS */

.section_testimonials {
  margin-top: 64px;
  width: 80%;
  display: grid;
  place-items: center;
  text-align: center;
  gap: 24px;
  margin-bottom: 64px;
}

.testimonials_title {
  letter-spacing: 2px;
  font-weight: 200;
}

.testimonials_moto {
  font-size: 1.8rem;
  color: #9693e6;
}

.testimonials_quote {
  display: grid;
  place-items: center;
  gap: 16px;
  padding: 20px 0px;
  border-radius: 30px;
}

.testimonials_img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.quote {
  width: 18px;
  height: 18px;
}

.quote_paragraph {
  width: 88%;
}

.quote_paragraph > p {
  display: inline;
}

.client_name {
  font-size: 1.1rem;
  letter-spacing: 1.2px;
}

/* BENEFITS */

.section_benefits {
  padding: 32px 0px;
  background-color: #6663b7;
  width: 100%;
  display: grid;
  place-items: center;
  gap: 16px;
}

.section_benefits > h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.benefits_cards_container {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.benefits_card {
  display: grid;
  place-items: center;
  padding: 20px 0px;
  width: 95%;
  height: 95%;
  background-color: white;
  border-radius: 30px;
  gap: 16px;
}

.benefits_card > * {
  width: 80%;
}

.benefits_card > h3:first-child {
  font-size: 2rem;
}

.benefits_card > h3 {
  color: #9693e6;
}

.benefits_card > a {
  text-decoration: none;
  background-color: #9693e6;
  color: white;
  width: 100px;
  display: grid;
  place-items: center;
  padding: 10px 20px;
  border-radius: 30px;
  justify-self: start;
  margin-left: 25px;
  margin-bottom: 20px;
}

/* ABOUT */
